@charset "utf-8";

#about_me {
  max-width: 1000px;
  margin: 80px auto 250px;
}
h2 {
  text-align: center;
}
h2 img {
  width: 50%;
}
.myself {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.my_pic {
  width: 40%;
  margin-left: 0;
}
.my_pic img {
  width: 100%;
}
.skills_info {
  display: block;
  width: 60%;
}
#skills {
  width: 30%;
  min-width: 90px;
}
#expertise {
  width: 40%;
  min-width: 120px;
  margin-top: 80px;
}
#skills,
#expertise {
  scroll-margin-top: 120px; /* 位置のズレを修正 */
}
.skills_info p {
  font-size: 1em;
  line-height: 2;
}
.my_name {
  width: 38%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.my_name,
.introduction {
  margin-left: 5%;
}
.introduction p {
  font-size: 1em;
  line-height: 2;
  padding-right: 30px;
}
/* レスポンシブ */
@media screen and (max-width: 767px) {
  #about_me {
    margin: 80px 30px 200px;
  }
  h2 img {
    width: 75%;
  }
  .myself {
    display: flex;
    margin: 60px 0 0;
    flex-direction: column-reverse;
  }
  .skills_info {
    width: 100%;
    margin: 0;
  }
  #skills img {
    width: 35%;
    min-width: 90px;
  }
  #expertise {
    margin-top: 40px;
    width: 45%;
    min-width: 120px;
  }

  .my_pic {
    width: 70%;
    margin-top: 60px;
  }
  .my_name {
    width: 65%;
    text-align: center;
    margin: 0 auto 40px;
  }
  .introduction {
    margin-left: 0;
  }
}
