@charset "utf-8";

.catch_copy img {
  width: 100%;
}
.catch_copy {
  text-align: center;
  margin-top: 200px;
}
.main {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.main p {
  text-align: left;
  font-size: 16px;
  line-height: 48px;
  margin: 100px 30px 200px;
}

/* もくじ */
#table_of_contents p {
  font-size: 26px;
  letter-spacing: 15px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.circle_1,
.circle_2 {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #efdad3;
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}
.circle_1 {
  line-height: 70px;
}
.circle_1::before {
  border-top: 2px dotted #293850;
  content: "";
  flex-grow: 2;
}
.circle_2 span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70px;
  text-align: center;
}
.index_list1 li {
  display: flex;
  height: 100px;
  width: 300px;
  align-items: center;
}
.index_list1 li::after {
  border-top: 2px dotted #293850;
  content: "";
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 1;
}
.index_list2 li {
  flex-flow: column;
  justify-content: space-around;
  height: 100px;
  margin-left: 5px;
}
#table_of_contents {
  position: relative;
  z-index: 1;
}
#table_of_contents::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70%;
  height: 100%;
  background: #f7f3f1;
}
.contents_inner {
  position: relative;
  text-align: center;
  width: 80%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 124px 0;
  background: #f7f3f1;
  box-shadow: 5px 0px 9px #e5e5e5;
  z-index: 2;
}
.index_wrap {
  display: flex;
  justify-content: center;
}
/* ↑ ここまでもくじ */

#services {
  scroll-margin-top: 100px; /* ズレを修正 */
}
#services,
#workbook {
  padding: 0 50px;
  max-width: 1000px;
  margin: 0 auto;
}
#services h2,
#workbook h2 {
  text-align: center;
  margin-top: 200px;
}
#services h2 img {
  width: 35%;
  margin: 0 auto;
}
#services p {
  font-size: 16px;
  line-height: 1.75;
  padding-right: 50px;
}
.direction,
.design,
.cording,
.translation {
  display: flex;
  padding: 60px 8% 0;
}
.pictogram {
  width: 25%;
  padding: 30px 0 30px;
}
.details {
  width: 75%;
  padding-left: 30px;
}
h3 {
  font-size: 24px;
  margin: 30px 0;
  border-left: 7px solid #a6b8c2;
  padding: 0 8px;
}

#workbook h2 img {
  width: 40%;
  margin: 0 auto;
}
/* turn js */
#page_turn {
  max-width: 1000px;
  width: 100% !important;
  height: 500px;
  margin: 50px auto 0;
}
#page_turn p {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 250px;
}

@media screen and (min-width: 768px) {
  .sp420_br {
    display: none; /*改行タグを無効に*/
  }
  .page-wrapper {
    width: 50% !important; /* turn js */
  }
}

@media screen and (max-width: 767px) {
  .catch_copy {
    margin: 60px 30px 0;
  }
  .main p {
    text-align: left;
    margin: 50px 30px 80px;
  }

  /* もくじ */
  .contents_inner {
    display: block;
    width: 100%;
    padding: 60px 0;
    box-shadow: none;
  }
  #table_of_contents p {
    font-size: 1.5em;
    letter-spacing: 0;
  }
  .circle_1,
  .circle_2,
  .circle_2 span {
    min-width: 100px;
    height: 1rem;
    border-radius: 99rem;
    line-height: 1;
    padding: 10px 0;
  }
  .index_list2 li a br {
    display: none;
  }
  .index_list1 li {
    display: flex;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 20px 5px 20px 0;
    padding: 10px 0;
  }
  .index_list2 li {
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
  }
  .index_wrap {
    width: 100%;
  }
  .circle_2 span {
    position: static;
    display: inline;
  }
  /* ↑ ここまでもくじ */

  #services h2,
  #workbook h2 {
    text-align: center;
    margin-top: 110px;
  }
  #services h2 img,
  #workbook h2 img {
    width: 60%;
  }
  .direction,
  .design,
  .cording,
  .translation {
    display: block;
    padding: 0;
  }
  .pictogram {
    width: 50%;
    text-align: center;
    padding: 45px 0 0;
    margin: 0 auto;
  }
  .pictogram img {
    width: 100%;
  }
  .details {
    width: 100%;
    padding: 0px;
  }
  h3 {
    text-align: center;
    margin: 18px 0;
    padding: 0;
    border: none;
    font-size: 1.8em;
    line-height: 1.5;
  }
  #services p {
    padding: 0px;
    margin-bottom: 15px;
  }

  #workbook p {
    text-align: left;
    line-height: 1.5;
    margin-top: 45px;
  }
  #workbook {
    margin-bottom: 200px;
  }

  /* turn js */
  #page_turn {
    height: 390px !important;
  }
}

@media screen and (max-width: 420px) {
  #services h2 img {
    width: 80%;
  }

  #workbook h2 img {
    width: 90%;
  }
  .index_list li > span {
    font-size: 1em;
  }
}
